<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{pageTitle}}|{{siteName}}</title>
</head>
<body>
  {{> header}}
  <div>
    <p>osllsdf kljsdfkl  fkjladfalkjfdsas fdjkladfas</p>
  </div>
{{> footer}}
</body>
</html>
