<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{pageTitle}}|{{siteName}}</title>
</head>
<body>
  {{> header}}
  <div>
    <h2>Projects</h2>
    <ul>
      <li>one</li>
      <li>two</li>
      <li>three</li>
    </ul>
  </div>
{{> footer}}
</body>
</html>
